* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'SF Pro Display', sans-serif;  
    color: #171717;
    max-width: 1920px;
    text-decoration: none;
    list-style-type: none;                                   
}
/* Header-------------------------------------------- */
.header_mobile {
    display: none;
}
.header_wrap {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 46px;
    padding-bottom: 38px;
    border-bottom: 1px solid #171717;
    background: white;
    position: relative;
    z-index: 2;
}
.header_left, .header_right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_left img {
    margin-right: 140px;
}
.div_phone {
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket_but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 40px;
    border: 1px solid rgba(23, 23, 23, 1);
    border-radius: 45px;
    position: relative;
}
.basket_but:hover img {
    display: none;
}
.basket_but:hover p {
    color: white;
    transition: 0.5s;
}
.basket_but:hover {
    background: #171717;
    transition: 0.5s;
}
.basket_but:hover .bask-p-d {
    display: none;
}
.search_inp {
    border: 1px solid #171717;
    border-radius: 29px;
    padding: 7px 0px 7px 16px;
    height: 20px;
    background: url("/img/search-ico-png.png") no-repeat 16px 1px;
    background-size: auto 90%;
    width: 464px;
    height: 39px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    padding-left: 60px;
    color: #171717;
    margin-right: 104px;
}
.header_right .div_phone .img_phone {
    margin-right: 14px;
}
.div_phone {
    margin-right: 32px;
}
.p-adress {
    margin-right: 280px;
}
.basket_link {
    margin-right: 7px;
    font-weight: 300;
    font-size: 16px;
    color: #171717;
}
.basket-img {
    margin-left: 7px;
}
.bask-el-d {
    position: absolute;
    top: 4px;
    right: 8px;
}
.bask-p-d {
    position: absolute;
    top: 6px;
    right: 16px;
    color: white;
}
/* _____________________________________________Adaptive_________________________________________ */
@media screen and (max-width: 768px) {
    .header_left, .header_right {
        display: none;
    }
    .header_mobile {
        display: flex;
        align-items: center;
        width: 360px;
        justify-content: space-between;
        padding: 0px 20px;
    }
    .header_mobile a {
        padding: 6px 9px;
        border: 1px solid #171717;
        border-radius: 50px;
    }
    .header_mobile .p-adress {
        margin-right: 0px;
    }
    .header_wrap {
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 22px;
    }
    .search_form {
        display: none;
    }
    .search_form_mob {
        display: none;
    }
    .search_inp_mob {
        border: 1px solid #171717;
        border-radius: 29px;
        padding: 7px 0px 7px 16px;
        background: url(/img/search-ico-png.png) no-repeat 16px;
        background-size: 9%;
        width: 276px;
        height: 39px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 165%;
        padding-left: 60px;
        color: #171717;
    }
}