.main {
    margin-left: 400px;
    position: relative;
    z-index: 99;
}
.sidebar_li_act a {
    border-style: groove;
}
/* _____________________________________intro_________________________________________________ */
.intro {
    margin-bottom: 100px;
}
.intro_wrap {
    max-width: 1330px;
    display: flex;
    margin-top: 36px;
    gap: 86px;
}
.intro_desc {
    width: 735px;
    display: flex;
    flex-direction: column;
}
.intro_nav {
    display: flex;
    align-items: center;
    margin-bottom: 68px;
}
.intro_nav a, .intro_nav p {
    font-weight: 300;
    font-size: 16px;
    line-height: 165%;
    color: #888888;
    padding-right: 16px;
}
.intro_nav a {
    display: flex;
    align-items: center;
}
.intro_nav a img {
    margin-right: 16px;
    height: auto;
}
.intro-links {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.intro-links-cards {
    width: 349px;
    display: flex;
    flex-wrap: wrap;
}
.intro-links-cards img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}
.intro_h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 165%;
    margin-bottom: 24px;
}
.desc_p {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    margin-bottom: 40px;
}
.intro_nav_mob, .intro_img_mob {
    display: none;
}
/* _____________________________________adaptive_________________________________________________ */
@media screen and (max-width: 1400px) {
    .main {
        margin-left: 0px;
    }
/* _____________________________________________Intro_________________________________________ */
    .intro {
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
    }
    .intro_wrap {
        margin-top: 39px;
        gap: 0px;
        justify-content: center;
        width: 800px;
        flex-direction: column;
    }
    .intro_img {
        align-self: center;
    }
    .intro_desc {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 768px) {
    .main {
        margin-left: 0px;
    }
    .intro_nav_mob, .intro_img_mob {
        display: block;
    }
    .intro_nav, .intro_img, .intro_h2 {
        display: none;
    }
    .intro_desc {
        padding: 0px 16px 0px 16px;
        width: auto;
    }
    .intro-links-cards {
        width: auto;
    }
    .intro_nav_mob {
        margin-bottom: 32px;
    }
    .intro_nav_mob a {
        font-weight: 300;
        font-size: 24px;
        line-height: 165%;
        padding-right: 16px;
        padding-left: 10px;
    }
    .intro_img_mob {
        margin-bottom: 32px;
    }
    .desc_p {
        margin-bottom: 32px;
    }
    .intro-links {
        justify-content: center;
    }
    .intro_img_mob {
        align-self: center;
    }
}