.main {
    max-width: 1600px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}
.footer::before {
    display: none;
}
.footer {
    overflow: hidden;
    margin-left: 0px;
}
.footer_wrap {
    margin-left: 400px;
    gap: 53px;
}
.contact_us {
    width: 600px;
}
.li_main_list_close {
    display: none;
}
/* _____________________________________menu_adaptive_________________________________________________ */
.menu_adaptive {
    border-bottom: 1px solid #171717;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
}
.menu_adaptive_list {
    display: flex;
    justify-content: space-between;
}
.menu_adaptive_li {
    border: 1px solid white;
    border-radius: 26px;
    padding: 4px 14px;
}
.menu_adaptive_li:hover {
    border-color: #BEBEBE;
}
.menu_adaptive_li a {
    font-weight: 300;
    font-size: 16px;
    line-height: 165%;
}
/* _____________________________________intro_nav_________________________________________________ */
.intro_nav {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 64px;
}
.intro_nav a, .intro_nav p {
    font-weight: 300;
    font-size: 16px;
    line-height: 165%;
    color: #888888;
    padding-right: 16px;
}
.intro_nav a img {
    padding-right: 16px;
}
/* _____________________________________intro_________________________________________________ */
.intro {
    margin-bottom: 100px;
}
.intro_wrap {
    max-width: 1600px;
    display: flex;
    margin-top: 36px;
    gap: 24px;
    margin-bottom: 50px;
}
.card_desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_desc h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 165%;
    margin-bottom: 16px;
}
.check {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    color: #1BBE00;
    margin-bottom: 24px;
}
.desc_det {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%
}
.old_price {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    margin-bottom: 8px;
    text-decoration: line-through;
}
.price {
    font-weight: 300;
    font-size: 32px;
    line-height: 165%;
    margin-bottom: 16px;
}
.buy_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
    border: 1px solid rgba(23, 23, 23, 1);
    border-radius: 45px;
}
.buy_btn img {
    padding-left: 30px;
}
.buy_btn:hover {
    justify-content: center;
    color: white;
    background: #171717;
    transition: 1s;
}
.buy_btn:hover img {
    display: none;
}
.perk_nav {
    margin-bottom: 16px;
}
.perk_nav a {
    padding: 8px 24px;
    border: 1px solid white;
    border-radius: 42px;
    font-weight: 300;
    font-size: 20px;
    line-height: 165%;
    text-transform: uppercase;
    color: #171717;
}
.perk_nav a:hover {
    border-color: #171717;
}
.perk_act {
    border-color: #171717 !important;
}
.perk_detail {
    display: none;
}
.act {
    display: block;
}
.disact {
    display: none;
}
/* ____________________________________Spec_Offers__________________________________________________ */
.spec_offers {
    margin-bottom: 100px;
}
.spec_offers_wrap {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.spec_offers_wrap h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 165%;
}
.cards_wrap {
    display: flex;
    gap: 24px;
    position: relative;
    padding: 5px;
    max-width: 1700px;
    height: 650px;
    margin-bottom: 100px;
}
.cards {
    border-radius: 24px;
    width: 315px !important;
    margin-right: 0px !important;
    height: 600px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #DCDCDC;
}
.cards:hover {
    box-shadow: 0px 0px 4px rgba(75, 75, 75, 0.25);
}
.cards_desc img {
    margin-bottom: 32px;
}
.cards_desc h4 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
}
.cards_desc p {
    width: 240px;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
}
.cards_price {
    text-align: right;
}
.cards_desc {
    display: flex;
    flex-direction: column;
}
.price {
    font-weight: 300;
    font-size: 32px;
    line-height: 165%;
    margin-bottom: 10px;
}
.cards_price span {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    text-decoration: line-through;
}
.buy_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
    border: 1px solid rgba(23, 23, 23, 1);
    border-radius: 45px;
}
.buy_btn:hover img {
    display: none;
}
.buy_btn:hover {
    justify-content: center;
    color: white;
    background: #171717;
    transition: 1s;
}
.buy_btn img {
    padding-left: 30px;
}
.pagination {
    display: flex;
    margin-top: 20px;
    align-self: flex-end;
    position: absolute;
    bottom: 55px;
    right: 120px;
    width: 130px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    content: '';
}
.swiper_my {
    display: flex;
    flex-direction: column;
}
.arrows {
    border: 1px solid #171717;
    border-radius: 50%;
    padding: 20px 17px;
    width: 30px;
    display: flex;
    justify-content: center;
}
.arrows img{
    transition: 0.5s;
}
.arrows:hover img{
    transform: scale(1.5);
}
.pag_right {
    margin-left: 20px;
}
.perk_detail_descript_mob, .perk_detail_atr_mob, .perk_detail_pos_mob {
    display: none;
}
   /* _____________________________________________Adaptive_________________________________________ */
@media screen and (max-width: 1700px) {
    .cards_wrap {
        max-width: 1360px;
    }
    .main {
        padding-left: 16px;
    }
    .swiper_my {
        margin-left: 60px;
    }
    .footer_wrap {
        flex-direction: column;
        padding: 100px 0px 0px 0px;
        gap: 64px;
        margin-bottom: 100px;
        width: 800px;
        margin-left: 200px;
    }
}
@media screen and (max-width: 1460px) {
    .header_right {
        width: 500px;
    }
    .footer_wrap {
        margin-left: 0px;
    }
    .footer {
        justify-content: end;
    }
    .cards_wrap {
        max-width: 1010px;
    }
    .swiper_my {
        margin-left: auto;
        align-self: center;
    }
    .card_img img {
        width: 1000px;
        max-width: 100%;
        object-fit: contain;
    }
    .card_desc_top {
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 1050px) {
    .cards_wrap {
        max-width: 670px;
    }
}
@media screen and (max-width: 768px) {
    .card_img img {
        width: 400px;
        height: 265px;
        max-width: 100%;
        object-fit: contain;
    }
    .main {
        padding-left: 0px;
    }
    .cards_wrap {
        max-width: 331px;
    }
    .intro_wrap {
        flex-direction: column;
        padding-left: 16px;
    }
    .menu_adaptive {
        display: none;
    }
    .perk_nav {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
    }
    .perk_descript, .perk_atr, .perk_pos {
        width: fit-content;
    } 
    .perk_detail_descript, .perk_detail_atr, .perk_detail_pos {
        display: none;
    }
    .perk_detail_descript_mob, .perk_detail_atr_mob, .perk_detail_pos_mob {
        margin: 32px 0px;
        padding-right: 16px;
    }
    .perk_wrap {
        padding: 32px 0px;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    .act {
        display: block;
    }
    .disact {
        display: none;
    }
    .perk_detail_pos_mob img {
        max-width: 100%;
        display: block;
        object-fit: cover;
    }
    .perk_nav a {
        margin-bottom: 10px;
    }
    .nav_mob_none {
        display: none;
    }
    .spec_offers {
        padding-left: 16px;
    }
    .footer {
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
    }
}