@font-face {
    font-family: "SFProDisplay-Thin"; 
    src: url("./SFProDisplay-Thin.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal; 
}
.main {
    margin-left: 400px;
    position: relative;
    z-index: 99;
}
/* _____________________________________intro_________________________________________________ */
.intro {
    margin-bottom: 200px;
}
.intro_wrap {
    max-width: 1330px;
    display: flex;
    margin-top: 36px;
    gap: 20px;
}
.intro_info {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}
.intro_info h1 {
    font-weight: 100;
    font-size: 83px;
    line-height: 130%;
    font-family: 'SFProDisplay-Thin';
    font-style: normal;
}
.h1_p {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    margin-top: -12px;
    margin-bottom: 16px;
}
.p_desc {
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    max-width: 710px;
}
.intro_but {
    display: flex;
    gap: 12px;
    transition: 1s;
}
.in_btn, .serv_btn {
    border: 1px solid #171717;
    width: 190px;
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 45px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    color: #171717;
    cursor: pointer;
    transition: 1s;
}
.in_btn:hover img {
    display: none;
}
.in_btn:hover {
    justify-content: center;
    color: white;
    background: #171717;
}
.intro_img-mob {
    display: none;
}
/* _____________________________________about_________________________________________________ */
.about {
    margin-bottom: 200px;
}
.about_wrap {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
}
.about_wrap h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 165%;
    margin-bottom: 36px;
}
.about_cont {
    display: flex;
    gap: 75px;
}
.about_cont_left {
    max-width: 538px;
}
.about_cont_left p {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 165%;
}
.about_cont_img {
    display: flex;
    gap: 24px;
}
.about_cont_img_l {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.about_cont_img_r {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 80px;
}
/* ____________________________________ourServ__________________________________________________ */
.our_serv {
    margin-bottom: 200px;
}
.out_serv_wrap {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.out_serv_wrap h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 165%;
    margin-bottom: 12px;
}
.card_top {
    display: flex;
    gap: 75px;
    box-shadow: 0px 0px 4px rgba(75, 75, 75, 0.25);
    border-radius: 24px;
    padding: 32px 64px;
}
.ct_desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ct_desc_wrap {
    display: flex;
    flex-direction: column;
}
.ct_desc h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    margin-bottom: 16px;
}
.ct_desc p {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    width: 470px;
}
.card_bot {
    display: flex;
    gap: 24px;
}
.card_bot_l, .card_bot_r {
    display: flex;
    box-shadow: 0px 0px 4px rgba(75, 75, 75, 0.25);
    border-radius: 24px;
    padding: 32px 64px;
    gap: 32px;
}
.cbr_desc, .cbl_desc {
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_bot h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    margin-bottom: 16px;
}
.serv_btn:hover img {
    display: none;
}
.serv_btn:hover {
    justify-content: center;
    color: white;
    background: #171717;
    transition: 1s;
}
.ct_img_mob, .cbl_img_mob, .cbr_img_mob {
    display: none;
}
/* ____________________________________Spec_Offers__________________________________________________ */
.spec_offers {
    margin-bottom: 200px;
}
.spec_offers_wrap {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.cards_wrap {
    display: flex;
    gap: 24px;
    position: relative;
    padding: 5px;
    max-width: 1350px;
    height: 650px;
    margin-bottom: 100px;
}
.cards {
    border-radius: 24px;
    width: 315px !important;
    margin-right: 0px !important;
    height: 600px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #DCDCDC;
}
.cards:hover {
    box-shadow: 0px 0px 4px rgba(75, 75, 75, 0.25);
}
.cards_desc img {
    margin-bottom: 32px;
}
.cards_desc h4 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
}
.cards_desc p {
    width: 240px;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
}
.cards_price {
    text-align: right;
}
.cards_desc {
    display: flex;
    flex-direction: column;
}
.price {
    font-weight: 300;
    font-size: 32px;
    line-height: 165%;
    margin-bottom: 10px;
}
.cards_price span {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    text-decoration: line-through;
}
.buy_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
    border: 1px solid rgba(23, 23, 23, 1);
    border-radius: 45px;
}
.buy_btn:hover img {
    display: none;
}
.buy_btn:hover {
    justify-content: center;
    color: white;
    background: #171717;
    transition: 1s;
}
.buy_btn img {
    padding-left: 30px;
}
.pagination {
    display: flex;
    margin-top: 20px;
    align-self: flex-end;
    position: absolute;
    bottom: 55px;
    right: 20px;
    width: 130px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    content: '';
}
.swiper_my {
    display: flex;
    flex-direction: column;
}
.arrows {
    border: 1px solid #171717;
    border-radius: 50%;
    padding: 20px 17px;
    width: 30px;
    display: flex;
    justify-content: center;
}
.arrows img{
    transition: 0.5s;
}
.arrows:hover img{
    transform: scale(1.5);
}
.pag_right {
    margin-left: 20px;
}
/* ____________________________________Catalog__________________________________________________ */
.catalog {
    margin-bottom: 294px;
}
.catalog_wrap {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.catalog_wrap h2 {
    margin-bottom: 36px;
    font-weight: 300;
    font-size: 36px;
    line-height: 165%;
}
.catalog_card {
    display: flex;
}
.catalog_img {
    background-image: url('/img/catalog-img-0.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 351px;
    height: 351px;
    padding: 70px 125px;
}
.catalog_list {
    width: 725px;
}
.catalog_li-1:hover .catalog_img {
    background-image: url('/img/catalog-img-1.png');
}
.catalog_li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #171717;
    padding-bottom: 13px;
    margin-bottom: 40px;
    cursor: pointer;
}
.catalog_li p {
    font-weight: 300;
    font-size: 20px;
    line-height: 165%;
    text-transform: uppercase;
}
.catalog_li a {
    border: 1px solid #171717;
    width: 80px;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 45px;
    padding-left: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    color: #171717;
    cursor: pointer;
}
.arow_hide {
    display: none;
    color: white;
    padding-right: 12px;
    padding-left: 5px;
    font-size: 20px;
}
.catalog_li a:hover {
    width: 110px;
    background-color: #171717;
    color: white;
    transition: 0.1s;
}
.catalog_li a:hover .arow_hide {
    display: block;
}
.catalog_li:hover a {
    width: 110px;
    background-color: #171717;
    color: white;
    transition: 0.1s;
}
.catalog_li:hover .arow_hide {
    display: block;
}
/* ____________________________________Advantages__________________________________________________ */
.advantages {
    margin-bottom: 294px;
}
.advant_wrap {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
}
.advant_wrap h2 {
    margin-bottom: 36px;
    font-weight: 300;
    font-size: 36px;
    line-height: 165%;
}
.adv_card {
    display: flex;
    gap: 180px;
}
.advant_left p {
    width: 413px;
    font-weight: 300;
    font-size: 24px;
    line-height: 165%;
}
.advant_left span {
    color: #BEBEBE;
}
.advant_right {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.ar_card {
    width: 350px;
}
.ar_card_top {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}
.ar_card_top h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    padding-left: 16px;
}
.ar_card_bot p {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
}
/* ____________________________________Partners__________________________________________________ */
.partners {
    margin-bottom: 200px;
}
.partners_wrap {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
}
.partners_wrap h2 {
    margin-bottom: 36px;
    font-weight: 300;
    font-size: 36px;
    line-height: 165%;
}
.partners_card {
    display: flex;
    gap: 24px;
}
.partners_list {
    width: 600px;
}
.partners_li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #171717;
    padding-bottom: 13px;
    margin-bottom: 30px;
}
.partners_li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
}
.partners_li a {
    border: 1px solid #171717;
    width: 100px;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 45px;
    padding-left: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    color: #171717;
    cursor: pointer;
}
.arow_hide {
    display: none;
    color: white;
    padding-right: 12px;
    padding-left: 5px;
    font-size: 20px;
}
.partners_li a:hover {
    width: 140px;
    background-color: #171717;
    color: white;
    transition: 0.1s;
}
.partners_li a:hover .arow_hide {
    display: block;
}
.partners_img_mob {
    display: none;
}
.partners_li:hover a {
    width: auto;
    padding-right: 12px;
    background-color: #171717;
    color: white;
    transition: 0.1s;
}
.partners_li:hover .arow_hide {
    display: block;
}
/* ____________________________________Geography__________________________________________________ */
.geography {
    margin-bottom: 200px;
}
.geography_wrap {
    max-width: 1350px;
    display: flex;
    flex-direction: column;
}
.geography_wrap h2 {
    margin-bottom: 36px;
    font-weight: 300;
    font-size: 36px;
    line-height: 165%;
}
.geography_wrap img {
    margin-bottom: 32px;
}
.geo_desc {
    display: flex;
    justify-content: space-between;
}
.geo_desc_cards span {
    font-weight: 400;
    font-size: 48px;
    line-height: 165%;
    padding-right: 16px;
}
.geo_desc_cards p {
    font-weight: 300;
    font-size: 24px;
    line-height: 165%;
    display: flex;
    align-items: center;
}
.tt-style:hover {
    stroke: blue;
}
.tt-style:focus {
    outline: none;
}
.tippy-box[data-theme~='tomato'] {
    background-color: white;
    border-radius: 20px;
    padding: 4px 24px;
    box-shadow: 0px 0px 4px 0px rgba(75, 75, 75, 0.25);
}
.div-svg {
    display: none;
}
.menu_adaptive, .small-img, .our-serv-small, .partners_img_adaptive {
    display: none;
}
/* _____________________________________________Adaptive_________________________________________ */
@media screen and (max-width: 1400px) {
    .main {
        margin-left: 0px;
    }
/* _____________________________________________menu_________________________________________ */
    .menu_adaptive {
        border-bottom: 1px solid #171717;
        padding: 25px 12px;
        display: flex;
        justify-content: center;
    }
    .menu_adaptive_list {
        display: flex;
        justify-content: space-between;
    }
    .menu_adaptive_li {
        border: 1px solid white;
        border-radius: 26px;
        padding: 4px 14px;
    }
    .menu_adaptive_li:hover {
        border-color: #BEBEBE;
    }
    .menu_adaptive_li a {
        font-weight: 300;
        font-size: 16px;
        line-height: 165%;
    }
/* _____________________________________________Intro_________________________________________ */
    .intro {
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
    }
    .intro_wrap {
        margin-top: 39px;
        gap: 0px;
        justify-content: center;
        width: 800px;
        
    }
    .intro_info {
        padding-top: 0px;
    }
    .intro_but {
        display: none;
    }
    .intro_info h1 {
        font-weight: 100;
        font-size: 52px;
        line-height: 130%;
        width: 460px;
    }
    .h1_p {
        font-weight: 700;
        font-size: 37px;
        line-height: 130%;
        margin-top: 0px;
    }
    .intro_img img {
        width: 290px;
    }
/* _____________________________________________About_________________________________________ */  
    .about {
        display: flex;
        justify-content: center;
    }
    .about_cont {
        gap: 16px;
    }
    .about_wrap {
        align-items: center;
        width: 800px;
    }
    .about_wrap h2 {
        margin-bottom: 24px;
        align-self: flex-start;
    }
    .about_cont_img {
        flex-direction: column;
    }
    .about_cont_img {
        width: 310px;
        height: 124px;
    }
    .about_cont_img img {
        width: 310px;
        height: 124px;
    }
    .big-img {
        display: none;
    }
    .small-img {
        display: block;
    }
    .about_cont_img_r {
        margin-top: 0px;
    }
/* _____________________________________________our_serv_________________________________________ */
    .our_serv {
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
    }
    .out_serv_wrap {
        width: 800px;
        align-items: center;
    }
    .out_serv_wrap h2 {
        align-self: baseline;
    }
    .card_bot {
        display: flex;
        gap: 24px;
        flex-direction: column;
    }
    .card_top {
        width: 700px;
        padding: 24px;
        gap: 20px;
    }
    .our-serv-big {
        display: none;
    }
    .our-serv-small {
        display: block;
    }
    .ct_desc p {
        width: auto;
        margin-bottom: 50px;
    }
    .ct_desc h3 {
        font-size: 20px;
    }
    .card_bot_l, .card_bot_r {
        padding: 24px;
        gap: 20px;
        width: 700px;
    }
    .cbr_desc, .cbl_desc {
        width: auto;
        justify-content: space-between;
        height: 270px;
    }
    .cbl_desc_wrap p {
        margin-bottom: 50px;
    }
    .cbl_desc_wrap h3 {
        font-size: 20px;
    }
/* _____________________________________________spec_offers_________________________________________ */
    .spec_offers {
        margin-bottom: 120px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .cards_wrap {
        max-width: 1020px;
    }
    .pagination {
        right: 290px;
    }
    .spec_offers_wrap h2 {
        font-weight: 300;
        font-size: 36px;
        line-height: 165%;
    }
    .spec_offers_wrap {
        gap: 30px;
        width: 800px;
        max-width: 100%;
    }
/* _____________________________________________catalog_________________________________________ */
    .catalog {
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
        flex-direction: column;
        align-items: center;
    } 
    .catalog_wrap {
        width: 800px;
        align-items: center;
        max-width: 100%;
    }
    .catalog_card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .catalog_wrap h2 {
        margin-bottom: 0px;
        align-self: baseline;
    }
    .catalog_img {
        padding: 43px 125px;
    }
    .catalog_li a {
        width: 110px;
        background-color: #171717;
        color: white;
        transition: 0.1s;
    }
    .arow_hide {
        display: block;
    }
/* _____________________________________________advantages_________________________________________ */
    .advantages {
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
        flex-direction: column;
        align-items: center;
    } 
    .advant_wrap {
        width: 800px;
        align-items: center;
        max-width: 100%;
    }
    .adv_card {
        display: flex;
        gap: 37px;
        flex-direction: column;
    }
    .advant_wrap h2 {
        align-self: start;
        margin-bottom: 66px;
    }
    .advant_right {
        gap: 47px;
    }
/* _____________________________________________partners_________________________________________ */
    .partners {
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
        flex-direction: column;
        align-items: center;
    } 
    .partners_wrap {
        width: 800px;
        align-items: center;
        max-width: 100%;
    }
    .partners_card {
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }
    .partners_img, .partners_img_mob {
        display: none;
    }
    .partners_img_adaptive {
        display: flex;
    }
    .partners_img_adaptive img {
        max-width: 100%;
        padding: 5px;
    }
    .partners_wrap h2 {
        align-self: start;
    }
    .partners_li a {
        padding-right: 12px;
        justify-content: center;
        width: auto;
        background-color: #171717;
        color: white;
        transition: 0.1s;
    }
    .arow_hide {
        display: block;
    }
/* _____________________________________________geography_________________________________________ */
    .geography {
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
        flex-direction: column;
        align-items: center;
    } 
    .geography_wrap {
        width: 800px;
        align-items: center;
        max-width: 100%;
    }
    .geo_desc_cards {
        padding-right: 65px;
    }
    .geo_desc_cards:last-child {
        padding-right: 0px;
    }
    .geo_desc {
        padding: 0px 10px;
    }
    .geography_wrap h2 {
        align-self: start;
    }
    .svg-desc {
        width: 750px;
    }
}







@media screen and (max-width: 768px) {
    /* _____________________________________________Intro_________________________________________ */
    .main {
        margin-left: 0px;
    }
    .menu_adaptive, .small-img, .our-serv-small, .partners_img_adaptive {
        display: none;
    }
    .intro_but {
        display: flex;
    }
    .big-img {
        display: flex;
    }
    .about_cont_img {
        flex-direction: row;
    }
    .about_cont_img {
        width: auto;
        height: 124px;
    }





    .intro {
        margin-bottom: 136px;
    }
    .intro_wrap {
        flex-direction: column;
        margin-top: 56px;
    }
    .intro_img {
        display: none;
    }
    .intro_info {
        padding: 0px 16px;
    }
    .intro_img-mob {
        display: block;
        align-self: center;
    }
    .intro_info h1, .h1_p {
        font-size: 38px;
        width: 330px;
    }
    .intro_info h1 {
        font-size: 36px;
        width: 320px;
    }
    .h1_p {
        width: 270px;
        margin-top: 0px;
    }
    .intro_img-mob img {
        margin-bottom: 24px;
    }
    .intro_but {
        flex-direction: column;
        gap: 30px;
        align-self: center;
    }
    .in_btn_1 {
        margin-left: 50px;
    }
    .in_btn_2 {
        margin-left: 100px;
    }
    /* _____________________________________________About_________________________________________ */
    .about {
        margin-bottom: 220px;
    }
    .about_cont {
        flex-direction: column;
        gap: 24px;
    }
    .about_wrap {
        padding: 0 16px;
    }
    .about_wrap h2 {
        font-size: 24px;
        line-height: 165%;
        margin-bottom: 24px;
    }
    .about_cont_img img {
        width: 160px;
    }
    .about_cont_img_l {
        gap: 6px;
    }
    .about_cont_img_r {
        gap: 6px;
        margin-top: 30px;
    }
    .about_cont_img {
        gap: 8px;
        justify-content: center;
    }
    /* _____________________________________________ourServ_________________________________________ */
    .our_serv {
        margin-bottom: 120px;
    }
    .out_serv_wrap {
        padding: 0 16px;
        align-items: center;
    }
    .out_serv_wrap h2 {
        font-size: 24px;
        margin-bottom: 0px;
        align-self: baseline;
    }
    .ct_img_mob, .cbr_img_mob, .cbl_img_mob {
        display: block;
        margin-bottom: 8px;
    }
    .cbr_img_mob img{
        width: 311px;
    }
    .ct_img, .cbr_img, .cbl_img {
        display: none;
    }
    .card_top {
        padding: 8px;
        width: 310px;
        height: 397px;
        gap: 0px;
    }
    .ct_desc {
        justify-content: normal;
        align-items: end;
    }
    .ct_desc_wrap h3 {
        font-size: 20px;
        width: 310px;
    }
    .ct_desc_wrap p {
        width: 310px;
        margin-bottom: 20px;
    }
    .card_bot {
        flex-direction: column;
    }
    .card_bot_r, .card_bot_l {
        padding: 8px;
        width: 310px;
        height: auto;
        gap: 0px;
    }
    .card_bot h3 {
        margin-bottom: 8px;
    }
    .cbl_desc, .cbr_desc {
        width: auto;
        align-items: end;
        height: auto;
    }
    .cbl_desc_wrap h3 {
        font-size: 20px;
    }
    .cbl_desc_wrap p {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 165%;
    }
    /* _____________________________________________spec_offers_________________________________________ */
    .spec_offers {
        overflow: hidden;
        margin-bottom: 110px;
    }
    .spec_offers_wrap {
        padding: 0 16px;
        height: 850px;
    }
    .spec_offers_wrap h2 {
        font-weight: 300;
        font-size: 24px;
        line-height: 165%;
    }
    .cards_wrap {
        gap: 16px;
        align-items: center;
    }
    .pagination {
        display: flex;
        margin-top: 20px;
        align-self: flex-end;
        position: absolute;
        bottom: 55px;
        left: 160px;
        width: 130px;
    }
    .swiper_my {
        width: 330px;
    }
    /* _____________________________________________catalog_________________________________________ */
    .catalog {
        margin-bottom: 64px;
    }
    .catalog_wrap {
        padding: 0 16px;
        width: auto;
    }
    .catalog_wrap h2 {
        font-size: 24px;
        margin-bottom: 0px;
    }
    .catalog_card {
        flex-direction: column;
        align-items: normal;
    }
    .catalog_img {
        background-image: url(/img/catalog-img-0.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 213px;
        width: auto;
        padding: 0px;
        margin-bottom: 16px;
    }
    .catalog_list {
        width: auto;
    }
    .catalog_li p {
        font-size: 15px !important;
    }
    .catalog_li a {
        width: 110px;
        background-color: #171717;
        color: white;
        transition: 0.1s;
    }
    .arow_hide {
        display: block;
    }
    /* _____________________________________________advantages_________________________________________ */
    .advantages {
        margin-bottom: 64px;
        display: block;
    }
    .advant_wrap {
        padding: 0 16px;
        width: auto;
    }
    .advant_wrap h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }
    .advant_left p {
        font-size: 16px;
        width: auto;
    }
    .adv_card {
        gap: 29px;
        flex-direction: column;
    }
    .advant_right {
        gap: 21px;
        justify-content: center;
    }
    .ar_card_top img {
        height: 32px;
    }
    .ar_card_top h4 {
        font-size: 16px;
    }
    /* _____________________________________________partners_________________________________________ */
    .partners {
        margin-bottom: 128px;
        display: block;
    }
    .partners_wrap {
        padding: 0 16px;
        width: auto;
    }
    .partners_wrap h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }
    .partners_img {
        display: none;
    }
    .partners_img_mob {
        display: block;
        text-align: center;
    }
    .partners_img_mob img {
        width: 100%;
    }
    .partners_card {
        flex-direction: column;
    }
    .partners_list {
        width: auto;
    }
    .partners_li a {
        padding-right: 12px;
        justify-content: center;
        width: auto;
        background-color: #171717;
        color: white;
        transition: 0.1s;
    }
    /* _____________________________________________geography_________________________________________ */
    .geography {
        margin-bottom: 73px;
        text-align: center;
        display: block;
    }
    .geography_wrap {
        padding: 0 16px;
        width: auto;
    }
    .geography_wrap h2 {
        font-size: 24px;
        margin-bottom: 24px;
        margin-right: auto;
    }
    .geo_desc {
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }
    .geo_desc_cards {
        padding-right: 0px;
    }
    .geo_desc_cards span {
        font-size: 36px;
    }
    .div-svg img {
        width: 100%;
    }
    .div-svg {
        display: block;
    }
    .svg-desc {
        display: none;
    }
}