@font-face {
    font-family: "SFProDisplay-Thin"; 
    src: url("./SFProDisplay-Thin.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal; 
}
.main {
    margin-left: 400px;
}


.intro_wrap {
    max-width: 1330px;
    display: flex;
    margin-top: 36px;
    gap: 20px;
}
.intro_info {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}
.intro_info h1 {
    font-weight: 100;
    font-size: 83px;
    line-height: 130%;
    font-family: 'SFProDisplay-Thin';
    font-style: normal;
}
.h1_p {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    margin-top: -12px;
    margin-bottom: 16px;
}
.p_desc {
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    max-width: 710px;
}
.intro_but {
    display: flex;
    gap: 12px;
}
.intro_but a {
    border: 1px solid #171717;
    width: 190px;
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 45px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    color: #171717;
}
